 body {
            font-family: Arial, sans-serif;
     display: flex;
     flex-direction: column;
            background-color: #f4f4f9;
            margin: 10px;
            padding: 20px;
            color: #333;
            justify-content: center;
     align-items: center;

        }

        h1 {
            text-align: center;
            color: #444;
            margin-bottom: 10px;
        }

        p {
            text-align: center;
            color: #555;
            margin-bottom: 20px;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 15px;
        }

        input[type="text"] {
            width: 300px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-bottom: 10px;
            font-size: 14px;
        }

        button {
            padding: 10px 20px;
            background-color: #5cb85c;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
        }

        button:hover {
            background-color: #4cae4c;
        }

        #response {
            max-width: 600px;
            margin-top: 20px;
            padding: 15px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            text-align: center;
            font-size: 14px;

        }

        .response {
            color: #555;
        }